[submodule "firmware/nrf/nrf5x-base"]
	path = firmware/nrf/nrf5x-base
	url = https://github.com/lab11/nrf5x-base
[submodule "firmware/nrf/plugwatch_B/nrf5x-base"]
	path = firmware/nrf/plugwatch_B/nrf5x-base
	url = https://github.com/lab11/nrf5x-base
[submodule "firmware/support/mbed-os"]
	path = firmware/support/mbed-os
	url = https://github.com/ARMmbed/mbed-os.git
